/* Breakpoints */
$breakpoint-mobile: 375px;
$breakpoint-tablet: 768px;
$breakpoint-desktop: 1200px;

@mixin tablet {
  @media (max-width: $breakpoint-tablet) {
    @content;
  }
}

/* Colors */
$color-primary: #504539;
$color-point: #ff8d28;
$color-base: #fefdf8;
$color-gray: #aaa;
$color-white: #ffffff;
$color-black: #000000;

:root {
  /* Color */
  --primary-color: #{$color-primary};
  --point-color: #{$color-point};
  --base-color: #{$color-base};
  --gray-color: #{$color-gray};
  --white: #{$color-white};
  --black: #{$color-black};

  --border-color-soft: rgba(80, 69, 57, 0.6);
  --overlay-bg: rgba(0, 0, 0, 0.7);
  --paper-texture-opacity: 0.15;

  /* Font */
  --font-main: "Pretendard", sans-serif;
  --font-serif: "Nanum Myeongjo", serif;
  --font-display-1: "ChiaroscuraTRIAL", serif;
  --font-display-2: "Didot LT Std Headline", serif;
  --font-display-3: "Georgia", serif;
  --font-display-4: "Product Sans", sans-serif;
  --font-display-5: "KakaoBigFont", sans-serif;

  --text-xs: 0.875rem; /*14px*/
  --text-sm: 1rem; /*16px*/
  --text-md: 1.125rem; /*18px*/
  --text-lg: 1.25rem; /*20px*/
  --text-xl: 1.875rem; /*30px*/
  --text-2xl: 2.125rem; /*34px*/
  --text-display: 3.25rem; /*52px*/

  --weight-light: 300;
  --weight-regular: 400;
  --weight-medium: 500;
  --weight-semibold: 600;
  --weight-bold: 700;

  /* Containers */
  --container-width: 1620px;
  --section-padding-x: 100px;
  --section-tablet-padding-x: 50px;
  --section-padding-y: 150px;
  --section-tablet-padding-y: 100px;

  /* Spacing */
  --gap-sm: 10px;
  --gap-md: 20px;
  --gap-lg: 40px;
  --gap-xl: 50px;
  --gap-xxl: 80px;

  /* Border Radius */
  --radius-sm: 10px;
  --radius-md: 20px;
  --radius-lg: 50px;
  --radius-full: 550px;

  /* Animation */
  --ease-base: cubic-bezier(0.7, 0, 0.3, 1);
  --transition-fast: 0.3s ease;
  --transition-base: 0.4s ease;
  --transition-slow: 0.7s ease;
}
