/* ---------- font start ---------- */
@font-face {
  font-family: "Pretendard";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Thin.woff2")
    format("woff2");
  font-weight: 100;
  font-display: swap;
}

@font-face {
  font-family: "Pretendard";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-ExtraLight.woff2")
    format("woff2");
  font-weight: 200;
  font-display: swap;
}

@font-face {
  font-family: "Pretendard";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Light.woff2")
    format("woff2");
  font-weight: 300;
  font-display: swap;
}

@font-face {
  font-family: "Pretendard";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Regular.woff2")
    format("woff2");
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "Pretendard";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Medium.woff2")
    format("woff2");
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: "Pretendard";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-SemiBold.woff2")
    format("woff2");
  font-weight: 600;
  font-display: swap;
}

@font-face {
  font-family: "Pretendard";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Bold.woff2")
    format("woff2");
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: "Pretendard";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-ExtraBold.woff2")
    format("woff2");
  font-weight: 800;
  font-display: swap;
}

@font-face {
  font-family: "Pretendard";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Black.woff2")
    format("woff2");
  font-weight: 900;
  font-display: swap;
}

@font-face {
  font-family: "ChiaroscuraTRIAL";
  src: url("./chiaroscura-trial-webfont/ChiaroscuraTRIAL-Rg.woff")
    format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@import url("https://fonts.googleapis.com/css2?family=Nanum+Myeongjo:wght@400;700;800&display=swap");

body {
  font-family: "Pretendard";
}
/* ---------- font end ---------- */

/* ---------- base start ---------- */
* {
  box-sizing: border-box;
  color: #504539;
}

svg {
  display: block;
}

section {
  width: 100vw;
  overflow-x: hidden;
  background-color: #fff;
}

.con {
  max-width: 1620px;
  width: 100%;
  padding: 150px 0;
  margin: 0 auto;
}

.img-box {
  width: 100%;
  height: 100%;
}

img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.title-box {
  margin-bottom: 50px;
}

.title-box > .title {
  font-size: 34px;
  font-weight: 600;
}

.title-box > .sub {
  font-size: 30px;
  font-weight: 400;
}
/* ---------- base end ---------- */

/* ---------- custom start ---------- */

/* ---------- header start ---------- */
header {
  width: 100vw;
  padding: 20px 100px;
  display: flex;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  background-color: #fff;
}

header > div {
  font-size: 20px;
  font-weight: 500;
}

header > ul {
  display: flex;
  align-items: center;
  gap: 80px;
  font-size: 18px;
  font-weight: 300;
}

header ul a {
  opacity: 0.5;
  transition: opacity 0.3s ease;
}

header ul a:hover {
  opacity: 1;
}
/* ---------- header end ---------- */

/* ---------- profile-box start ---------- */
.profile-box .main-box {
  display: flex;
  gap: 10px;
}

.profile-box .main-box .left {
  width: 390px;
}

.profile-box .main-box .left .img-box {
  width: 100%;
  height: 500px;
  position: relative;
  margin-bottom: 15px;
}

.profile-box .main-box .left .img-box .star {
  position: absolute;
  top: -20px;
  left: -25px;
  opacity: 0.3;
}

.profile-box .main-box .left .img-box .profile-img {
  height: 100%;
  object-fit: cover;
}

.profile-box .main-box .left .name {
  margin-bottom: 50px;
  font-size: 18px;
  font-weight: 600;
}

.profile-box .main-box .left .name span:last-child {
  margin-left: 10px;
  opacity: 0.5;
  font-weight: 400;
}

.profile-box .main-box .left .desc-box {
  font-size: 18px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  font-weight: 600;
}

.profile-box .main-box .left .desc-box span:last-child {
  font-weight: 300;
  line-height: 28px;
  opacity: 0.8;
  text-align: justify;
}

.profile-box .main-box .right {
  width: 1210px;
  padding-left: 137px;
  display: flex;
  gap: 10px;
}

.profile-box .main-box .right .info-box {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  font-size: 18px;
  font-weight: 400;
}

.profile-box .main-box .right .info-box .info {
  height: 100%;
  display: flex;
  gap: 20px;
}

.profile-box .main-box .right .info-box .info .info-name {
  width: 116px;
  text-transform: capitalize;
  font-weight: 600;
}

.profile-box .main-box .right .info-box .info .info-desc {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.profile-box .main-box .right .info-box .info .info-desc > div {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.profile-box .main-box .right .info-box .info-desc > div > span:last-child {
  font-size: 16px;
  opacity: 0.5;
}

.profile-box .main-box .right .info-box .tool .info-desc {
  flex-direction: row;
  opacity: 0.5;
  font-size: 16px;
}
/* ---------- profile-box end ---------- */

/* ---------- project-list-box (img) start ---------- */
.project-list-box {
  position: relative;
  background-color: transparent;
}

.paper-box .bg-paper {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.15;
  z-index: -1;
}

.project-list-box .title-box {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding-bottom: 30px;
  margin-bottom: 0;
}

.project-list-box .title-box .title {
  font-size: 44px;
}

.project-list-box .title-box .title > span:last-child {
  font-family: "Nanum Myeongjo", serif;
  font-weight: 300;
}

.project-list-box .title-box .list-btn {
  width: fit-content;
  height: fit-content;
  display: flex;
  align-items: center;
  border: 1px solid #504539;
  border-radius: 550px;
  cursor: pointer;
}

.project-list-box .title-box .list-btn div:first-child {
  padding-left: 10px;
  padding-right: 5px;
}

.project-list-box .title-box .list-btn div:last-child {
  padding-right: 10px;
  padding-left: 5px;
  border-left: 1px solid rgba(80, 69, 57, 0.3);
}

.project-list-box .main-box {
  border-top: 1px solid #504539;
  border-bottom: 1px solid #504539;
}

.project-img-ver .main-box {
  padding: 30px 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.project-img-ver .main-box .project-item {
  height: 370px;
  overflow: hidden;
  position: relative;
}

.project-img-ver .main-box .project-item {
  height: 370px;
  overflow: hidden;
  position: relative;
  cursor: pointer;
}

.project-img-ver .main-box .project-item .desc-box {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  visibility: hidden;
  background-color: rgba(0, 0, 0, 0.7);
  transition: all 0.5s ease;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 25px 25px;
}

.project-img-ver .main-box .project-item:hover .desc-box {
  opacity: 1;
  visibility: visible;
}

.project-img-ver .main-box .project-item .desc-box span {
  color: #fefdf8;
}

.project-img-ver .main-box .project-item .desc-box .p-type {
  text-align: right;
  font-size: 14px;
  opacity: 0.5;
}

.project-img-ver .main-box .project-item .desc-box .p-info > div:first-child {
  font-size: 22px;
  font-weight: 500;
}

.project-img-ver .main-box .project-item .desc-box .p-info > div:nth-child(2) {
  display: flex;
  flex-direction: column;
  gap: 4px;
  font-size: 16px;
  font-weight: 300;
  opacity: 0.6;
  margin: 6px 0 20px 0;
}

/* p-btn-box */
.project-list-box .p-btn-box {
  display: flex;
  gap: 14px;
  font-size: 14px;
}

.project-list-box .main-box .p-btn-box .p-btn {
  border: 1px solid #fefdf8;
  border-radius: 50px;
  transition: all 0.5s ease;
}

.project-list-box .main-box .p-btn-box .p-btn a {
  display: block;
  padding: 5px 20px;
}

.project-img-ver .main-box .project-item .desc-box .p-info .p-btn:hover {
  background-color: #fefdf8;
}

.project-img-ver .main-box .project-item .desc-box .p-info .p-btn:hover span {
  color: #504539 !important;
}
/* ---------- project-list-box (img) end ---------- */

/* ---------- project-list-box (text) start ---------- */
.project-text-ver .main-box .t-project-item {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 30px;
  transition: all 0.3s ease;
  cursor: pointer;
}

.project-text-ver .main-box .t-project-item:not(:last-child) {
  border-bottom: 1px solid #504539;
}

.project-text-ver .main-box .t-project-item .left {
  display: flex;
  align-items: center;
  gap: 20px;
  font-size: 16px;
  font-weight: 400;
}

.project-text-ver .main-box .t-project-item .left .num {
  width: 87px;
}

.project-text-ver .main-box .t-project-item .left span:nth-child(2) {
  font-size: 30px;
  font-weight: 600;
}

.project-text-ver .main-box .t-project-item .left span:last-child {
  opacity: 0.4;
}

/* show/hide */
.project-text-ver .main-box .t-project-item .right {
  display: block;
  font-size: 20px;
}

.project-text-ver .main-box .t-project-item .right span:not(:last-child) {
  margin-right: 10px;
}

.project-text-ver .main-box .t-project-item:hover .right {
  display: none;
}

.project-text-ver .main-box .t-project-item .p-btn-box {
  display: none;
}

.project-text-ver .main-box .t-project-item:hover .p-btn-box {
  display: block;
}

/* p-btn */
.project-text-ver .main-box .t-project-item .p-btn-box .p-btn {
  border: 1px solid #504539;
  font-size: 18px;
  background-color: #fff;
}

.project-text-ver .main-box .t-project-item .p-btn-box .p-btn:first-child {
  margin-right: 10px;
}

/* btn:hover */
.project-text-ver .main-box .t-project-item .p-btn-box .p-btn:hover {
  background-color: #504539;
}

.project-text-ver .main-box .p-btn-box .p-btn:hover span {
  color: #fefdf8;
}
/* ---------- project-list-box (text) end ---------- */

/* ---------- project-box start ---------- */
.project-box {
  position: relative;
  background-color: transparent;
}

.project-box .bg-paper {
  opacity: 0.15;
  z-index: -1;
}

.project-box .bg-star-big {
  position: absolute;
  right: -100px;
  top: 30%;
  z-index: 1;
  opacity: 0.03;
}

.project-box .con {
  padding: 100px 0;
  display: flex;
  gap: 20px;
}

.project-box .con .left,
.project-box .con .right {
  width: 50%;
  height: 900px;
}

.project-box .con .left {
  padding-right: 50px;
}

.project-box .con .right {
  display: flex;
  flex-direction: column;
}

.project-box .con .left .img-box img {
  object-position: center top;
}

.project-box .con .right .box-1 {
  padding: 25px 0 40px 0;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  border-bottom: 1px solid #504539;
}

.project-box .con .right .box-1 span:first-child {
  font-size: 50px;
  font-weight: 400;
  font-family: "ChiaroscuraTRIAL";
}

.project-box .con .right .box-1 span:last-child {
  font-size: 14px;
  opacity: 0.5;
}

.project-box .con .right .box-2 {
  padding-bottom: 40px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: flex-start;
  justify-content: flex-end;
  flex-grow: 1;
}

.project-box .con .right .box-2 > span {
  font-size: 24px;
  font-weight: 600;
}

.project-box .con .right .box-2 .info-box {
  display: flex;
  gap: 20px;
  font-size: 20px;
  font-weight: 500;
}

.project-box .con .right .box-2 .info-box .info-left,
.project-box .con .right .box-2 .info-box .info-right {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.project-box .con .right .box-2 .info-box .info-right {
  font-weight: 300;
}

.project-box .p-btn-box {
  display: flex;
  gap: 20px;
  font-size: 16px;
  margin-top: 30px;
}

.project-box .p-btn-box .p-btn {
  border: 1px solid #504539;
  border-radius: 50px;
  transition: all 0.5s ease;
}

.project-box .p-btn-box .p-btn a {
  display: block;
  padding: 8px 30px;
}

.project-box .p-btn-box .p-btn:hover {
  background-color: #504539;
}

.project-box .p-btn-box .p-btn:hover span {
  color: #fefdf8;
}

.project-box .con .right .box-3 {
  padding-top: 30px;
  gap: 10px;
  border-top: 1px solid #504539;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
/* ---------- project-box end ---------- */

/* ---------- footer start ---------- */
footer {
  width: 100vw;
  overflow-x: hidden;
  background-color: transparent;
  position: relative;
}

footer .con {
  padding: 100px 0;
}

footer .bg-star-big {
  position: absolute;
  top: 135px;
  left: -140px;
  opacity: 0.03;
}

footer .con .box-1 {
  height: 640px;
  margin-bottom: 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

footer .con .box-1 .top {
  display: flex;
  justify-content: space-between;
}

footer .con .box-1 .top .top-left {
  display: flex;
  flex-direction: column;
  align-items: center;
}

footer .con .box-1 .top .top-left > span:first-child {
  font-size: 40px;
  font-weight: 600;
}

footer .con .box-1 .top .top-left > span:last-child {
  font-size: 20px;
  font-weight: 400;
  opacity: 0.5;
}

footer .con .box-1 .top .top-right {
  font-size: 20px;
  font-weight: 400;
  opacity: 0.5;
}

footer .con .box-1 .bottom {
  font-size: 24px;
  font-weight: 500;
}

footer .con .box-1 .bottom > div:first-child {
  margin-bottom: 10px;
}

footer .con .box-1 .bottom > div > span:first-child {
  font-size: 22px;
  margin-right: 10px;
}

footer .con .box-2 {
  padding-top: 30px;
  border-top: 1px solid #504539;
  font-size: 18px;
  font-weight: 500;
}
/* ---------- footer end ---------- */

/* ---------- custom end ---------- */
