/* ---------- font start ---------- */
@font-face {
  font-family: "Pretendard";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Thin.woff2")
    format("woff2");
  font-weight: 100;
  font-display: swap;
}

@font-face {
  font-family: "Pretendard";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-ExtraLight.woff2")
    format("woff2");
  font-weight: 200;
  font-display: swap;
}

@font-face {
  font-family: "Pretendard";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Light.woff2")
    format("woff2");
  font-weight: 300;
  font-display: swap;
}

@font-face {
  font-family: "Pretendard";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Regular.woff2")
    format("woff2");
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "Pretendard";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Medium.woff2")
    format("woff2");
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: "Pretendard";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-SemiBold.woff2")
    format("woff2");
  font-weight: 600;
  font-display: swap;
}

@font-face {
  font-family: "Pretendard";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Bold.woff2")
    format("woff2");
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: "Pretendard";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-ExtraBold.woff2")
    format("woff2");
  font-weight: 800;
  font-display: swap;
}

@font-face {
  font-family: "Pretendard";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Black.woff2")
    format("woff2");
  font-weight: 900;
  font-display: swap;
}

@font-face {
  font-family: "ChiaroscuraTRIAL";
  src: url("./chiaroscura-trial-webfont/ChiaroscuraTRIAL-Rg.woff")
    format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@import url("https://fonts.googleapis.com/css2?family=Nanum+Myeongjo:wght@400;700;800&display=swap");

@font-face {
  font-family: "Didot LT Std Headline";
  src: url("./transfonter.org-20250825-151240/DidotLTStd-Headline.woff2")
    format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Georgia";
  src: url("./georgia-2-webfont/georgiab.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Product Sans";
  src: url("./product-sans-webfont/ProductSans-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: "Pretendard";
}
/* ---------- font end ---------- */

/* ---------- base start ---------- */
* {
  box-sizing: border-box;
  color: #504539;
}

svg {
  display: block;
}

section {
  width: 100vw;
  overflow-x: hidden;
  background-color: #fff;
}

.con {
  max-width: 1620px;
  width: 100%;
  padding: 150px 0;
  margin: 0 auto;
}

.img-box {
  width: 100%;
  height: 100%;
}

img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.title-box {
  margin-bottom: 50px;
}

.title-box > .title {
  font-size: 34px;
  font-weight: 600;
}

.title-box > .sub {
  font-size: 30px;
  font-weight: 400;
}
/* ---------- base end ---------- */

/* p-btn-box */
.p-btn-box {
  display: flex;
  gap: 14px;
  font-size: 14px;
}

.p-btn-box .p-btn {
  border: 1px solid #fefdf8;
  border-radius: 50px;
  transition: all 0.5s ease;
}

.p-btn-box .p-btn a {
  display: block;
  padding: 5px 20px;
}
/* ---------- custom start ---------- */

/* ---------- loading start ---------- */
#loading {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: opacity 0.7s ease, visibility 0.7s ease;
  z-index: 9999;
}

#loading.loaded {
  animation: fadeOut 0.7s forwards;
}

#loading .con {
  text-align: center;
}

#loading .con div:first-child {
  margin-bottom: 20px;
  font-size: 30px;
  font-weight: 500;
}

#loading .con div:last-child {
  font-size: 26px;
  font-weight: 300;
}

#loading .con span {
  position: relative;
  display: inline-block;
  visibility: hidden;
}

.typing::after {
  content: "";
  position: absolute;
  width: 2px;
  height: 1.1em;
  background-color: #504539;
  right: -0.2em;
  bottom: 0;
  animation: blink 0.7s infinite;
}

#loading .skip-btn {
  position: absolute;
  bottom: 30px;
  right: 30px;
  z-index: 10000;
  background: none;
  border: 1px solid #aaa;
  color: #aaa;
  font-size: 14px;
  padding: 8px 16px;
  border-radius: 20px;
  cursor: pointer;
  opacity: 0;
  transition: opacity 0.5s ease;
  animation: fadeInButton 0.5s ease 1s forwards;
}

#loading .skip-btn:hover {
  background: #aaa;
  color: #fff;
}

@keyframes fadeInButton {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes blink {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
    visibility: visible;
  }
  to {
    opacity: 0;
    visibility: hidden;
  }
}

/* ---------- loading end ---------- */

/* ---------- header start ---------- */
header {
  width: 100vw;
  padding: 20px 100px;
  display: flex;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  background-color: #fff;
}

header > div {
  font-size: 20px;
  font-weight: 500;
  cursor: pointer;
}

header > ul {
  display: flex;
  align-items: center;
  gap: 80px;
  font-size: 18px;
  font-weight: 300;
}

header ul a {
  opacity: 0.5;
  transition: opacity 0.3s ease;
}

header ul a:hover {
  opacity: 1;
}
/* ---------- header end ---------- */

/* ---------- profile-box start ---------- */
.profile-box .main-box {
  display: flex;
  gap: 10px;
}

.profile-box .main-box .left {
  width: 390px;
}

.profile-box .main-box .left .img-box {
  width: 100%;
  height: 500px;
  position: relative;
  margin-bottom: 15px;
}

.profile-box .main-box .left .img-box .star {
  position: absolute;
  top: -20px;
  left: -25px;
  opacity: 0.3;
}

.profile-box .main-box .left .img-box .profile-img {
  height: 100%;
  object-fit: cover;
}

.profile-box .main-box .left .name {
  margin-bottom: 50px;
  font-size: 18px;
  font-weight: 600;
}

.profile-box .main-box .left .name span:last-child {
  margin-left: 10px;
  opacity: 0.5;
  font-weight: 400;
}

.profile-box .main-box .left .desc-box {
  font-size: 18px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  font-weight: 600;
}

.profile-box .main-box .left .desc-box span:last-child {
  font-weight: 300;
  line-height: 28px;
  opacity: 0.8;
  text-align: justify;
}

.profile-box .main-box .right {
  width: 1210px;
  padding-left: 137px;
  display: flex;
  gap: 10px;
}

.profile-box .main-box .right .info-box {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  font-size: 18px;
  font-weight: 400;
}

.profile-box .main-box .right .info-box .info {
  height: 100%;
  display: flex;
  gap: 20px;
}

.profile-box .main-box .right .info-box .info .info-name {
  width: 116px;
  text-transform: capitalize;
  font-weight: 600;
}

.profile-box .main-box .right .info-box .info .info-desc {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.profile-box .main-box .right .info-box .info .info-desc > div {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.profile-box .main-box .right .info-box .info-desc > div > span:last-child {
  font-size: 16px;
  opacity: 0.5;
}

.profile-box .main-box .right .info-box .tool .info-desc {
  flex-direction: row;
  opacity: 0.5;
  font-size: 16px;
}
/* ---------- profile-box end ---------- */

/* ---------- project-list-box (img) start ---------- */
.project-list-box {
  position: relative;
  background-color: transparent;
}

.paper-box .bg-paper {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.15;
  z-index: -1;
}

.project-list-box .project-title-box {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding-bottom: 40px;
  margin-bottom: 0;
}

.project-list-box .project-title-box .title {
  font-size: 52px;
  display: flex;
  align-items: center;
  gap: 10px;
}

.project-list-box .project-title-box .title > span:first-child {
  animation: spin 5s linear infinite;
}

.project-list-box .project-title-box .title > span:last-child {
  font-family: "Nanum Myeongjo", serif;
  font-weight: 300;
}

/* list-btn */
.project-list-box .project-title-box .list-btn {
  width: fit-content;
  height: fit-content;
  display: flex;
  align-items: center;
  border: 1px solid #504539;
  border-radius: 550px;
  overflow: hidden;
}

.project-list-box .project-title-box .list-btn button {
  cursor: pointer;
  padding-top: 4px;
  padding-bottom: 4px;
}

.project-list-box .project-title-box .list-btn button:first-child {
  padding-left: 10px;
  padding-right: 5px;
}

.project-list-box .project-title-box .list-btn button:last-child {
  padding-right: 10px;
  padding-left: 5px;
}

/* list-btn .active */
.project-img-ver,
.project-text-ver {
  display: none;
}

.project-img-ver.active,
.project-text-ver.active {
  display: block;
}

.project-list-box .con {
  height: auto !important;
  overflow: visible !important;
}

.project-title-box .list-btn button.active {
  background-color: #504539;
}

.project-title-box .list-btn button.active svg > path {
  fill: #fefdf8;
}

.project-list-box .border-box .main-box {
  border-top: 1px solid rgba(80, 69, 57, 0.6);
  border-bottom: 1px solid rgba(80, 69, 57, 0.6);
}

.project-list-box .project-img-ver .main-box {
  padding: 20px 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.project-list-box .project-img-ver .main-box .project-item {
  height: 370px;
  overflow: hidden;
  position: relative;
  cursor: pointer;
}

.project-list-box .project-img-ver .project-item .img-box img {
  transition: all 0.4s ease;
}

.project-list-box .project-img-ver .project-item:hover .img-box img {
  transform: scale(1.1);
}

.project-list-box .project-img-ver .main-box .project-item .desc-box {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  visibility: hidden;
  background-color: rgba(0, 0, 0, 0.7);
  transition: all 0.5s ease;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 25px 25px;
  z-index: 1;
}

.project-list-box .project-img-ver .main-box .project-item:hover .desc-box {
  opacity: 1;
  visibility: visible;
}

.project-list-box .project-img-ver .main-box .project-item .desc-box span {
  color: #fefdf8;
}

.project-list-box .project-img-ver .main-box .project-item .desc-box .p-type {
  text-align: right;
  font-size: 14px;
  opacity: 0.5;
}

.project-list-box
  .project-img-ver
  .main-box
  .project-item
  .desc-box
  .p-info
  > div:first-child {
  font-size: 22px;
  font-weight: 500;
}

.project-list-box
  .project-img-ver
  .main-box
  .project-item
  .desc-box
  .p-info
  > div:nth-child(2) {
  display: flex;
  flex-direction: column;
  gap: 4px;
  font-size: 16px;
  font-weight: 300;
  opacity: 0.6;
  margin: 6px 0 20px 0;
}

.project-img-ver .main-box .project-item .desc-box .p-info .p-btn:hover {
  background-color: #fefdf8;
}

.project-img-ver .main-box .project-item .desc-box .p-info .p-btn:hover span {
  color: #504539 !important;
}
/* ---------- project-list-box (img) end ---------- */

/* ---------- project-list-box (text) start ---------- */
.project-list-box .project-text-ver .main-box .t-project-item {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 30px;
  transition: all 0.3s ease;
  cursor: pointer;
}

.project-list-box .project-text-ver .main-box .t-project-item:not(:last-child) {
  border-bottom: 1px solid rgba(80, 69, 57, 0.6);
}

.project-list-box .project-text-ver .main-box .t-project-item .left {
  display: flex;
  align-items: center;
  gap: 20px;
  font-size: 16px;
  font-weight: 400;
}

.project-list-box .project-text-ver .main-box .t-project-item .left .num {
  width: 87px;
}

.project-list-box
  .project-text-ver
  .main-box
  .t-project-item
  .left
  span:nth-child(2) {
  font-size: 30px;
  font-weight: 600;
  transition: all 0.3s ease;
}

.project-list-box
  .project-text-ver
  .main-box
  .t-project-item:hover
  .left
  span:nth-child(2) {
  color: #ff8d28;
}

.project-list-box
  .project-text-ver
  .main-box
  .t-project-item
  .left
  span:last-child {
  opacity: 0.4;
}

/* show/hide */
.project-list-box .project-text-ver .main-box .t-project-item .right {
  display: block;
  font-size: 20px;
}

.project-list-box
  .project-text-ver
  .main-box
  .t-project-item
  .right
  span:not(:last-child) {
  margin-right: 10px;
}

.project-list-box .project-text-ver .main-box .t-project-item:hover .right {
  display: none;
}

.project-list-box .project-text-ver .main-box .t-project-item .p-btn-box {
  display: none;
}

.project-list-box .project-text-ver .main-box .t-project-item:hover .p-btn-box {
  display: block;
}

/* p-btn */
.project-list-box
  .project-text-ver
  .main-box
  .t-project-item
  .p-btn-box
  .p-btn {
  border: 1px solid #504539;
  font-size: 18px;
  background-color: #fff;
  position: relative;
  overflow: hidden;
  z-index: 1;
}

.project-list-box .project-text-ver .main-box .t-project-item .p-btn > * {
  position: relative;
  z-index: 3;
}

.project-list-box .project-text-ver .main-box .t-project-item .p-btn::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background-color: #504539;
  transform-origin: left;
  transition: all 0.4s cubic-bezier(0.7, 0, 0.3, 1);
  z-index: 2;
}

.project-list-box
  .project-text-ver
  .main-box
  .t-project-item
  .p-btn:hover
  span {
  color: #ffffff;
  transition-delay: 0.2s;
}

.project-list-box
  .project-text-ver
  .main-box
  .t-project-item
  .p-btn:hover::before {
  width: 100%;
}

.project-list-box
  .project-text-ver
  .main-box
  .t-project-item
  .p-btn-box
  .p-btn:first-child {
  margin-right: 10px;
}
/* ---------- project-list-box (text) end ---------- */

/* ---------- new project-box start ---------- */
.project-box {
  position: relative;
  height: 100vh;
  background-color: transparent;
  overflow: hidden;
}

.project-box .bg-paper {
  opacity: 0.15;
  z-index: -1;
}

.project-box .con {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin: 0 auto;
  padding: 150px 0;
  height: 100%;
}

/* left */
.project-box .con .left {
  width: 390px;
  position: relative;
  height: 100%;
}

.project-box .con .left .text-box {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  opacity: 0;
  visibility: hidden;
}

.project-box .con .left .text-box.active {
  opacity: 1;
  visibility: visible;
}

.project-box .con .left .text-box p {
  font-size: 14px;
  opacity: 0.6;
}

.project-box .con .left .text-box h1 {
  font-size: 70px;
  font-weight: 400;
  color: #504539;
}

.project-box .con .left .text-box:first-child h1 {
  font-family: "ChiaroscuraTRIAL";
}

.project-box .con .left .text-box:nth-child(2) h1 {
  font-family: "Didot LT Std Headline";
}

.project-box .con .left .text-box:nth-child(3) h1 {
  font-weight: 700;
  font-size: 62px;
  text-transform: lowercase;
  font-family: "Georgia";
}

.project-box .con .left .text-box:nth-child(4) h1 {
  font-weight: 500;
}

.project-box .con .left .text-box:nth-child(5) h1 {
  font-weight: 700;
  font-size: 70px;
}

.project-box .con .left .text-box:nth-child(6) h1 {
  font-weight: 400;
  font-size: 100px;
  font-family: "Product Sans";
}

.project-box .con .left .text-box ul {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.project-box .con .left .text-box ul li {
  font-size: 16px;
  display: flex;
  gap: 20px;
  opacity: 0.9;
}

.project-box .con .left .text-box ul li strong {
  width: 68px;
  font-weight: 500;
}

.project-box .left .text-box .btn-box {
  font-weight: 600;
  display: flex;
  gap: 20px;
  margin-top: 15px;
}

.project-box .left .text-box .btn-box a {
  display: flex;
  gap: 8px;
  align-items: center;
}

.project-box .con .left .text-box .btn-box a span:first-child {
  position: relative;
}

.project-box .con .left .text-box .btn-box a span:first-child::after {
  content: "";
  display: block;
  width: 0;
  height: 1px;
  background: #504539;
  transition: width 0.3s ease-out;
  position: absolute;
  top: 100%;
  left: 0;
}

.project-box .con .left .text-box .btn-box a:hover span:first-child::after {
  width: 100%;
}

.project-box .con .left .text-box .btn-box a span:last-child {
  transition: transform 0.3s ease;
}

.project-box .con .left .text-box .btn-box a:hover span:last-child {
  transform: translateX(4px);
}

/* right */
.project-box .con .right {
  width: 936px;
  height: 100%;
}

.project-box .con .right .swiper {
  width: 100%;
  height: 100%;
}

.project-box .con .right .project-item {
  position: relative;
  height: 600px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.project-box .con .right .project-item .line {
  position: absolute;
  bottom: 10px;
  left: 10px;
  z-index: 10;
  width: 0px;
  height: 1px;
  background-color: #fefdf8;
  transition: all 0.6s ease;
  opacity: 0.6;
}

.project-box .con .right .project-item:hover .line {
  width: 915px;
}

/* p-btn-box */
/* .project-box .con .right .swiper .swiper-slide .p-btn-box .p-btn {
  background-color: rgba(255, 255, 255, 0.15);
  border: 1px solid rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(8px);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08);
} */

/* .project-box .con .right .swiper .swiper-slide .p-btn-box .p-btn span {
  color: #fefdf8;
} */

/* .project-box .con .right .swiper .swiper-slide .p-btn-box .p-btn:hover {
  background-color: rgba(255, 255, 255, 0.25);
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15), 0 2px 4px rgba(0, 0, 0, 0.1);
  transform: translateY(-2px);
} */

/* .project-box .con .right .swiper .swiper-slide .p-btn-box .p-btn:hover span {
  color: #fefdf8;
} */

.project-box .con .right .img-box {
  width: 100%;
  overflow: hidden;
  position: relative;
}

.project-box .con .right .img-box::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #000;
  opacity: 0;
  visibility: hidden;
  transition: all 0.4s ease;
}

.project-box .con .right .project-item:hover .img-box::after {
  opacity: 0.4;
  visibility: visible;
}

.project-box .con .right .project-item .img-box img {
  transition: all 0.4s ease;
}

.project-box .con .right .project-item:hover .img-box img {
  transform: scale(1.1);
}

.swiper-pagination-bullet-active {
  background-color: #504539;
  opacity: 1;
}

/* cursor */
.project-img-ver .project-item,
.project-box .right .swiper .swiper-slide {
  cursor: none !important;
}

.custom-cursor {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 10px;
  height: 10px;
  background-color: #ff8d28;
  border-radius: 50%;
  pointer-events: none;
  transform: translate(-50%, -50%);
  z-index: 9999;
  transition: transform 0.1s ease-out, background-color 0.1s ease-out; /* 부드러운 전환 */
}

.custom-cursor .cursor-text {
  opacity: 0;
  font-size: 13px;
  font-weight: 500;
  transition: all 0.3s ease;
  white-space: nowrap;
}

.custom-cursor.custom-cursor-active {
  transform: translate(-50%, -50%);
  width: 80px;
  height: 80px;
  background-color: #fff;
  opacity: 0.3;
}

.custom-cursor.custom-cursor-active .cursor-text {
  opacity: 1;
  color: #504539;
}

/* ---------- new project-box end ---------- */

/* ---------- footer start ---------- */
footer {
  width: 100vw;
  overflow-x: hidden;
  background-color: transparent;
  position: relative;
}

footer .con {
  padding: 100px 0;
}

footer .bg-star-big {
  position: absolute;
  top: 135px;
  left: -140px;
  opacity: 0.025;
  animation: spin 30s linear infinite;
}

footer .con .box-1 {
  height: 640px;
  margin-bottom: 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

footer .con .box-1 .top {
  display: flex;
  justify-content: space-between;
}

footer .con .box-1 .top .top-left {
  display: flex;
  flex-direction: column;
  align-items: center;
}

footer .con .box-1 .top .top-left > span:first-child {
  font-size: 40px;
  font-weight: 600;
}

footer .con .box-1 .top .top-left > span:last-child {
  font-size: 20px;
  font-weight: 400;
  opacity: 0.5;
}

footer .con .box-1 .top .top-right {
  font-size: 20px;
  font-weight: 400;
  opacity: 0.5;
}

footer .con .box-1 .bottom {
  font-size: 24px;
  font-weight: 500;
}

footer .con .box-1 .bottom > div:first-child {
  margin-bottom: 10px;
}

footer .con .box-1 .bottom > div > span:first-child {
  font-size: 22px;
  margin-right: 10px;
}

footer .con .box-2 {
  padding-top: 30px;
  border-top: 1px solid #504539;
  font-size: 18px;
  font-weight: 500;
}

footer .con .box-2 span {
  cursor: pointer;
  transition: all 0.3s ease;
}

footer .con .box-2 span:hover {
  color: #ff8d28;
}
/* ---------- footer end ---------- */

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

/* ---------- custom end ---------- */
